<html>
<head>
<title><%= client.user.username %></title>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
function href(link){
window.location.href = link
}
</script>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
.headerDiv{
float: right;
}
.headerDiv button{
border: 0px;
border-radius: 10px;
background: purple;
}
body{
background: black;
}
</style>
<header>
<div class="headerDiv">
<button onclick="href("index")">İstatistik</button><button>Bot Hakkında</button>
</div>
</header>
</head>
<body>

</body>
</html>