<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= client.user.username %></title>
</head>
<body style="margin: 0; padding: 0; float: left;">
    <dialog id="dialog" style="top: 40%; border: 0; width: 200px; height: 100px; text-align: center; background-color: #23272a; border-radius: 5px; left: 0%;">
        <div style=" background-color: #23272a; color: white;">
            <a>
                Toplam kullanıcı: <%= client.users.cache.size %> <br>
                Toplam sunucu   : <%= client.guilds.cache.size %> <br>
                Bot             : Çevrimiçi! <br>
                Onay durumu     : Onaysız!
             </a>
        </div>
    </dialog>
    <script>
        document.getElementById("dialog").show()
    </script>
</body>
</html>