<html>
<head>
<title><%= client.user.username + " - Panel" %></title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="static/style.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
function loadPage(pwd, msg, channel){
$.ajax({
	url: "api", 
	type: "GET",
	data: {
    password: pwd.value,
    channel: channel.value,
    message: msg.value
    },
	success: function(data) {
		if(data.error){
        alert(data.error)
        }else{
        var elem = document.createElement("option")
        elem.innerHTML = "Mesajınız " + channel.value + " kanalına başarıyla gönderildi: \n" + msg.value
        document.getElementById("durum").appendChild(elem)
        }
	}
});
}
</script>
<header>
<div class="headerDiv">
<button id="statistic">İstatistik</button>
<button id="i">Hakkında</button>
</div><br/>
</header>
</head>
<body>
<input id="pwd" placeholder="Şifre" class="formeleman" />
<select id="channel" class="formeleman">
<% client.channels.cache.forEach((channel)=>{ %>
<% if(channel.type != "text") return %>
<option value="<%= channel.id %>"><%= channel.name + " <" + channel.guild.name + ">" %></option>
<% }) %>
</select><br/>
<input class="formeleman" id="message" placeholder="Mesaj" /><br/>
<button type="submit" id="ok"" onclick="loadPage(document.getElementById('pwd'),document.getElementById('message'), document.getElementById('channel'))"  class="formeleman"/>Gönder</button><br/>
<p class="formeleman">log:</p>
<select id="durum" class="formeleman">

</select>
</body>
</html>